.boxrettangolo {
  display: flex;
  justify-content: center;
}
.rettangolo {
  width: 50px;
  height: 10px;
  background-color: white;
  margin: 2px;
}

.rettangolo1 {
  width: 120px;
  height: 10px;
  background-color: white;
  margin: 2px;
}

.button_create {
  margin: 2px;
  width: 120px;
  height: 22px;
  background-color: blue;
  border-color: blue;
}
