nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 30px 0 30px;
}

h1 {
  margin: 0;
  color: white;
}

button {
  background-color: rgba(127, 255, 212, 0.062);
  width: 70px;
  height: 40px;
  color: white;
  border-color: white;
  border-radius: 4px;
}
